body {
  background-color: #f4f4f4;
  font-family: Arial,sans-serif;
  color: #333333;
}

header {
  /* fallback for IE8 and IE9 */
  background-color: #3189BF;
  /* awesome gradient for everyone else */
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(99, 167, 208) 3%, rgb(49, 137, 191) 83%, rgb(60, 141, 190) 97%);
  padding: 1em;
  margin: 0.5em;
  border-radius: 1em;
}

footer {
  margin: 0 0 10px 0;
  font-size: 1em;
}

h1 {
  font-size: 1.35em;
  color: #a94d00;
  text-transform: uppercase;
  margin: .67em 0;
}

h2 {
  font-size: 1.35em;
  color: #000;
}

hr {
  border-top: 1px solid #ccc;
  margin-bottom: 0;
}

table {
  border: 5px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  padding: 5px 15px;
  border-right: 1px solid #ccc;
}

tr:nth-child(odd) {
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #e5e5e5;
}